[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
transformers = "*"
tensorflow = "*"
spacy = "*"
bs4 = "*"
requests = "*"
tweepy = "*"

[dev-packages]

[requires]
python_version = "3.10"
